@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #00416a;
    --background: 216 100% 98.42%;
    --foreground: 216 10% 0.84%;

    --muted: 216 10% 92.1%;
    --muted-foreground: 216 5% 42.1%;

    --popover: 216 10% 92.1%;
    --popover-foreground: 216 10% 1.05%;

    --card: 216 10% 92.1%;
    --card-foreground: 216 10% 1.05%;

    --border: 216 15% 89.84%;
    --input: 216 15% 89.84%;

    --primary: 216 100% 21%;
    --primary-foreground: 216 2% 92.1%;

    --secondary: 216 5% 96.05%;
    --secondary-foreground: 216 7% 12.1%;

    --accent: 216 5% 96.05%;
    --accent-foreground: 216 7% 12.1%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 216 100% 21%;

    --radius: 0.5rem;
  }

  .dark {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #f7f8f8;

    --background: 191 4.550000000000001% 7.76%;
    --foreground: 191 0.7% 99.85%;

    --muted: 191 3.5% 29%;
    --muted-foreground: 191 0.7% 59.7%;

    --popover: 191 63.6% 12.61%;
    --popover-foreground: 191 0.7% 99.85%;

    --card: 191 63.6% 12.61%;
    --card-foreground: 191 0.7% 99.85%;

    --border: 191 3.5% 29%;
    --input: 191 3.5% 29%;

    --primary: 191 7% 97%;
    --primary-foreground: 191 0.7% 9.7%;

    --secondary: 191 3.5% 29%;
    --secondary-foreground: 191 0.7% 99.85%;

    --accent: 191 3.5% 29%;
    --accent-foreground: 191 0.7% 99.85%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 191 0.7% 99.85%;

    --ring: 191 7% 97%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
